<div class="container">
  <h3>Reset Password</h3>

  <!-- IMPORTANTE: formGroup -->
  <form [formGroup]="form">

    <div *ngIf="!otpSent()">
      <input formControlName="username" placeholder="Usuario">

      <!-- 👇 ESTE CLICK ES CLAVE -->
      <button type="button" (click)="requestOtp()" [disabled]="loading()">
        <span *ngIf="!loading()">Enviar OTP</span>
        <div *ngIf="loading()" class="loader"></div>
      </button>
    </div>

    <div *ngIf="otpSent()">
      <input formControlName="otp_code" placeholder="OTP">
      <input type="password" formControlName="new_password" placeholder="Nueva contraseña">

      <button type="button" (click)="resetPassword()">
        Cambiar contraseña
      </button>
    </div>

  </form>

  <div *ngIf="error()">{{ error() }}</div>
  <div *ngIf="message()">{{ message() }}</div>
</div>