body {
  margin: 0;
  padding: 0;
  background: url('https://www.transparenttextures.com/patterns/dark-wood.png');
  font-family: 'Cinzel', serif;
}

div {
  text-align: center;
  margin-top: 100px;
  color: #f5e6c8;
}

h1 {
  font-size: 40px;
  color: #d4af37;
  text-shadow: 3px 3px 8px black;
}

p {
  font-size: 18px;
  margin-top: 10px;
}

button {
  margin-top: 30px;
  padding: 12px 25px;
  background: linear-gradient(#a67c00, #d4af37);
  border: 2px solid #8b6f2f;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(#d4af37, #ffd700);
  transform: scale(1.1);
}